# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Type checkers
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/

# maribox
.maribox/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
